h1,h2,h3,h4,h5,h6,p,ul,body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

@font-face{
    src: url('../fonts/arial.ttf');
    font-family: 'Arial';
}

button{
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}