

.comment__wrapper{
    max-width: 614px;
    min-height: 100%;
    
}
.content__right_comm{
    height: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 66px;
    left: 44px;
    width: 20%;
}

