.chaos{
    text-align: center;
    margin-top: 142px;
}

.chaos_text{
    max-width: 1015px;
    margin: 16px auto 40px auto;
}

.chaos__title2{
    max-width: 781px;
    margin: 18% auto 168px auto;

}